<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    <title>Daily mini</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link href="/styles/index.css" rel="stylesheet">
</head>
<body>
<main class="container">
    <section>
        <header class="header">
            <h1 th:text="${date} + ' mini'"></h1>
            <a href="/archive">Archive</a>
        </header>
        <div id="crosswordDiv"
             th:hx-get="@{/crossword/{date}(date=${date})}"
             hx-trigger="load"
             hx-indicator="#spinner">
        </div>
    </section>
</main>
</body>
</html>