<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    <title>Daily mini</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link href="/styles/index.css" rel="stylesheet">
</head>
<body>
<main class="container">
    <section>
        <header class="header">
            <h1 th:text="${title}">Daily mini</h1>
            <a href="/archive">Archive</a>
        </header>
        <img  id="spinner" class="htmx-indicator" src="/img/bars.svg" alt="Loading..."/>
        <div id="crosswordDiv"
             th:hx-get="${crosswordUrl}"
             hx-trigger="load"
             hx-indicator="#spinner">
        </div>
    </section>
</main>
<script>
    document.body.addEventListener('htmx:beforeSwap', (evt) => {
        if (evt.detail.xhr.status === 404) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>
</body>
</html>